footer {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  color: #008AB3;
  bottom: 10px;
}

a {
  color: #008AB3;
}

body {
  font-family: "Source Sans Pro",Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}